body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box {
    background: white;
    padding: 30px;
    width: 320px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #667eea;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.resetbtn {
    background-color: #e53e3e;
    color: white;
    margin-top: 10px;
}

.resetbtn:hover {
    background-color: #3073c5;
}


button:hover {
    background-color: #5a67d8;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

p {
    margin-top: 15px;
    font-size: 16px;
}
